<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuan.back.db.dao.ArticleMapper">

    <select id="selectArticleList" resultType="com.xiaoyuan.back.vo.ArticleVo">
        SELECT
        -- 文章表数据
        art.id,
        art.title,
        art.cover,
        art.digest,
        art.tags,
        art.gmt_create,
        -- 	用户信息
        u.id as authorId,
        u.nickname as authorName,
        u.avatar as authorAvatar,
        -- 	浏览量
        art.view_count,
        -- 文章评论表数据
        COALESCE(com.count, 0) as comment_count,
        -- 	点赞数量
        COALESCE(lik.count, 0) as good_count,
        -- 	收藏数量
        COALESCE(col.count, 0) as collect_count
                FROM
                    xy_article art
        -- 	左拼接查询用户信息
                        LEFT JOIN xy_common_user u ON u.id = art.author_id
        -- 	左拼接查询评论数量
                        LEFT JOIN (SELECT article_id, count(id) AS count FROM xy_article_comment GROUP BY article_id) com ON com.article_id = art.id
        -- 左拼接查询点赞数量
                        LEFT JOIN (SELECT article_id, count(id) AS count FROM xy_article_like GROUP BY article_id) lik ON lik.article_id = art.id
        -- 左拼接查询收藏数量
                        LEFT JOIN (SELECT article_id, count(id) AS count from xy_article_collect GROUP BY article_id) col ON col.article_id = art.id
        where deleted = '0'
    </select>
</mapper>