/* 个人资料卡片 */
.main_style_2 {
	margin: 0px auto;
	width: 325px;
	height: 400px;
	background-color: #303361;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	opacity: 0.9;
}

.border-round {
	width: 150px;
	height: 150px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #575a9f;
	margin: 0 auto;
	left: 4%;
	top: 4%;
	transition: ease-in all 0.8s;
}

.main_style_2:hover .border-round {
	transform: scale(1.1, 1.1);
	transition: ease-out all 0.8s;
}

.outer-round {
	width: 165px;
	height: 165px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #393d6b;
	margin: 0 auto;
	left: 24%;
	top: 10%;
}

.round2 {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-color: #474545;
	position: absolute;
	background-image: url(../../img/b.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px 0px;
	margin: 0 auto;
	left: 7%;
	top: 7%;
	transition: ease-in all 0.8s;
}

.white {
	background-color: #fefefe;
	position: absolute;
	bottom: 0;
	width: 325px;
	height: 110px;
}

.cir {
	width: 50px;
	height: 50px;
	background-color: #4bcdff;
	border: 1px solid #4bcdff;
	position: absolute;
	bottom: 21%;
	right: 10%;
	z-index: 100;
	border-radius: 50%;
}

.bell {
	color: #9195d5;
	padding-left: 25px;
	padding-top: 30px !important;
	transition: ease-in all 0.8s;
	transform: scale(1, 1);
}

.bell:hover {
	transform: scale(1.1, 1.1);
	transition: ease-out all 0.8s;
	color: #fff;
}

.msg {
	color: #9195d5;
	padding-right: 25px;
	padding-top: 30px !important;
	float: right;
	transform: scale(1, 1);
	transition: ease-in all 0.8s;
}

.msg:hover {
	transform: scale(1.1, 1.1);
	transition: ease-out all 0.8s;
	color: #fff;
}

.head2 {
	top: 56%;
	left: 25%;
	position: absolute;
	font-size: 18px;
	letter-spacing: 1px;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}

.p3 {
	color: #bfd2d0;
	top: 64%;
	left: 38%;
	position: absolute;
	font-size: 14px;
}

.card-data h1 {
	display: block;
	font-size: 15px;
	color: #000000;
	margin-top: 32px;
}

.card-data span {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 600;
}

.edit {
	color: #FFFFFF;
	padding-top: 6px;
	padding-left: 6px;
}

/* 个人资料卡片 */

/* 搜索框 */
.side-search form {
	position: relative;
	width: auto;
	margin: 0 auto;
}

.side-search input,
.side-search button {
	border: none;
	outline: none;
}

.side-search input {
	width: 100%;
	height: 35px;
	padding-left: 13px;
	border: 2px solid #7BA7AB;
	border-radius: 10px;
	background: #F9F0DA;
	color: #9E9C9C;
}

.side-search button {
	height: 35px;
	width: 35px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	background: #7BA7AB;
	border-radius: 0 10px 10px 0;
}

.side-search button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}
