<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuan.back.mapper.SysPermissionMapper">
    <resultMap id="permissionVoMap" type="com.xiaoyuan.common.vo.SysPermissionVo">
        <id column="id" property="id"/>
        <result column="mod_key" property="modKey"/>
        <result column="mod_name" property="modName"/>
        <result column="act_key" property="actKey"/>
        <result column="act_name" property="actName"/>
    </resultMap>

    <!-- 权限列表 -->
    <select id="getPermissionList" resultMap="permissionVoMap">
        SELECT p.id, m.mod_name, a.act_name
        FROM sys_permission p
           LEFT JOIN sys_module m ON m.id = p.module_id
           LEFT JOIN sys_action a ON a.id = p.action_id
        ORDER BY p.id
    </select>

    <select id="getPermissionListByRoleKey" resultMap="permissionVoMap">
        SELECT p.id, m.mod_name, a.act_name
        FROM sys_role r, sys_permission p
                             LEFT JOIN sys_module m ON m.id = p.module_id
                             LEFT JOIN sys_action a ON a.id = p.action_id
        WHERE r.role_key = #{roleKey} AND JSON_CONTAINS(r.permissions, cast(p.id as char));
    </select>
</mapper>
