*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100vh;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	background: url('/static/img/bg/login_bg.jpg') center no-repeat;
	background-size: cover;
}

button {
	border: none;
	outline: none;
	background: none;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.tip {
	font-size: 20px;
	margin: 40px auto 50px;
	text-align: center;
}

#main {
	width: 100%;
	height: 100%;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.info {
	width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login {
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 10px #ffaaff;
	width: 900px;
	height: 550px;
	background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.form {
	position: relative;
	width: 640px;
	height: 100%;
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
	padding: 50px 30px 0;
}

.sub-cont {
	overflow: hidden;
	position: absolute;
	left: 640px;
	top: 0;
	width: 900px;
	height: 100%;
	padding-left: 260px;
	background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.login.s--signup .sub-cont {
	-webkit-transform: translate3d(-640px, 0, 0);
	transform: translate3d(-640px, 0, 0);
}

/* 提交按钮 */
.login .sign-in .submit,
.login .sign-up .submit {
	display: block;
	margin: 0 auto;
	width: 260px;
	height: 36px;
	border-radius: 30px;
	color: #fff;
	font-size: 15px;
	cursor: pointer;
	margin-top: 20px;
	background: #d4af7a;
	text-transform: uppercase;
}

/* 忘记密码 */
.login .forgot-pass {
	margin-top: 15px;
	text-align: center;
}

.login .forgot-pass a {
	text-decoration: none;
	font-size: 12px;
	color: #000000;
}

/* 其他登陆方式 */
.login .sign-in .more,
.login .sign-up .more {
	display: block;
	margin: 0 auto;
	width: 260px;
	height: 36px;
	border-radius: 30px;
	font-size: 15px;
	cursor: pointer;
	border: 2px solid #d3dae9;
	color: #8fa1c7;
	margin-top: 20px;
}

.login .form .more span {
	font-weight: bold;
	color: #455a81;
}

.user-form {
	margin-top: 50px;
	padding: 0px 80px;
}

.user-form input {
	height: 45px;
}

.el-select .el-input {
	width: 110px;
}

.input-with-select .el-input-group__prepend {
	background-color: #fff;
}

.login input::-webkit-outer-spin-button,
.login input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.login input[type='number'] {
	-moz-appearance: textfield;
}

/* 图片 */
.img {
	overflow: hidden;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 260px;
	height: 100%;
	padding-top: 360px;
}

.img:before {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 900px;
	height: 100%;
	background-image: url('/static/img/bg/login-form_bg.jpg');
	background-size: cover;
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.login.s--signup .img:before {
	-webkit-transform: translate3d(640px, 0, 0);
	transform: translate3d(640px, 0, 0);
}

.img__text {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 50px;
	width: 100%;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.img__text h2 {
	margin-bottom: 10px;
	font-weight: normal;
}

.img__text p {
	font-size: 14px;
	line-height: 1.5;
}

.login.s--signup .img__text.m--up {
	-webkit-transform: translateX(520px);
	transform: translateX(520px);
}

.img__text.m--in {
	-webkit-transform: translateX(-520px);
	transform: translateX(-520px);
}

.login.s--signup .img__text.m--in {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.img__btn {
	overflow: hidden;
	z-index: 2;
	position: relative;
	width: 100px;
	height: 36px;
	margin: 0 auto;
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	cursor: pointer;
}

.img__btn:after {
	content: '';
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 30px;
}

.img__btn span {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	transition: transform 0.6s, -webkit-transform 0.6s;
}

.img__btn span.m--in {
	-webkit-transform: translateY(-72px);
	transform: translateY(-72px);
}

.login.s--signup .img__btn span.m--in {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.login.s--signup .img__btn span.m--up {
	-webkit-transform: translateY(72px);
	transform: translateY(72px);
}

.login h2 {
	width: 100%;
	font-size: 26px;
	text-align: center;
}

.sign-in {
	transition-timing-function: ease-out;
}

.login.s--signup .sign-in {
	transition-timing-function: ease-in-out;
	transition-duration: 0.6s;
	-webkit-transform: translate3d(640px, 0, 0);
	transform: translate3d(640px, 0, 0);
}

.sign-up {
	-webkit-transform: translate3d(-900px, 0, 0);
	transform: translate3d(-900px, 0, 0);
}

.login.s--signup .sign-up {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
