html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    font-family: "微软雅黑";
    position: relative;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

[v-cloak] {
    display: none
}

/* 首页背景图片 */
.home_bg {
    background: url('/static/img/bg/home.jpg') fixed no-repeat;
    background-size: cover;
    background-positio: center;
}

/* 文章详细页背景图片 */
.detail_bg {
    background: url('https://file.xiaoyuan-boke.com/article/background/detail_bg.jpg') fixed no-repeat;
    background-size: 100% 100%;
    background-positio: center;
}

/* 故事页面背景图片 */
.story_bg {
    background: url('/static/img/bg/story_bg.jpg') fixed no-repeat;
    background-size: 100% 100%;
    background-positio: center;
}

/* 档案页面背景图片 */
.archive_bg {
    background: url('/static/img/bg/archive_bg.jpg') fixed no-repeat;
    background-size: 100% 100%;
    background-positio: center;
}

/* 时间线页面的背景图片 */
.time-line-bg {
    background: url('/static/img/bg/TimeLine.jpg') fixed no-repeat;
    background-size: 100% 100%;
    background-positio: center;
}

/* 专栏页面的背景图片 */
.classify_bg {
    background: url('/static/img/bg/classify_bg.jpg') fixed no-repeat;
    /*background-size: cover;*/
    background-size: 100% 100%;
    background-positio: center;
}

/* 留言墙的背景图片 */
.message_bg {
    background: url('/static/img/bg/message.jpg') fixed no-repeat;
    background-size: cover;
    background-positio: center;
}

/* 关于我页面的背景图片 */
.aboutme_bg {
    background: url('/static/img/bg/aboutme_bg.jpg') fixed no-repeat;
    background-size: 100% 100%;
    background-positio: center;
}

/* 友链背景图片 */
.friendlink_bg {
    background: url('/static/img/bg/friendlink_bg.jpg') fixed no-repeat;
    background-size: 100% 100%;
    background-positio: center;
}

.padding-b-10 {
    padding-bottom: 20px;
}

.padding-l-r-60 {
    padding: 0px 60px;
}

/**
 * 透明度
 */
.opacity-1 {
    opacity: 0.1;
}

.opacity-2 {
    opacity: 0.2;
}

.opacity-3 {
    opacity: 0.3;
}

.opacity-4 {
    opacity: 0.4;
}

.opacity-5 {
    opacity: 0.5;
}

.opacity-6 {
    opacity: 0.6;
}

.opacity-7 {
    opacity: 0.7;
}

.opacity-8 {
    opacity: 0.8;
}

.opacity-9 {
    opacity: 0.9;
}

/* 透明度 */

/* 字体大小 */
.font-size-xxs {
    font-size: 10px;
}

.font-size-xs {
    font-size: 15px;
}

.font-size-sm {
    font-size: 20px;
}

.font-size-md {
    font-size: 25px;
}

.font-size-lg {
    font-size: 30px;
}

/* 字体大小 */

/* 字体间距 */
.text-spacing-xxs {
    letter-spacing: 1px;
}

.text-spacing-xs {
    letter-spacing: 2px;
}

.text-spacing-sm {
    letter-spacing: 3px;
}

.text-spacing-md {
    letter-spacing: 4px;
}

.text-spacing-lg {
    letter-spacing: 5px;
}

/* 字体间距 */
