<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuan.back.mapper.ArticleContentMapper">
    <select id="getArticleMarkdownById" parameterType="long" resultType="string">
        select content
        from xy_article_content
        where article_id = #{id}
    </select>
</mapper>
