<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyuan.back.mapper.SysUserMapper">

    <resultMap id="SysUserVoMap" type="com.xiaoyuan.model.vo.sysuser.SysUserVo">
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="sysUserCode" column="sys_user_code"/>
        <result property="state" column="state"/>
        <result property="articleCount" column="article_count"/>
        <collection property="roles" ofType="com.xiaoyuan.model.vo.SysRoleVo" javaType="java.util.List">
            <result column="role_name" property="roleName"/>
        </collection>
    </resultMap>

    <sql id="baseSql">

    </sql>

    <select id="getSysUserList" resultMap="SysUserVoMap">
        SELECT u.sys_user_code, u.nickname, u.avatar, u.state, r.role_name, COALESCE(art.count, 0) as article_count
        FROM sys_user u
            LEFT JOIN sys_role r ON JSON_CONTAINS(u.role_id, CAST(r.id AS CHAR))
            LEFT JOIN ( SELECT author_id, count(id) as count FROM xy_article GROUP BY author_id) art ON art.author_id = u.id
    </select>

    <select id="getInfoById" parameterType="integer" resultMap="SysUserVoMap">
        SELECT u.sys_user_code, u.nickname, u.avatar, r.role_name
        from sys_user u
            LEFT JOIN sys_role r ON JSON_CONTAINS(u.role_id, cast(r.id as char))
        where u.id = #{id}
    </select>

    <select id="searchUserPermissions" resultType="java.lang.String">
        SELECT CONCAT(m.mod_key, ':', a.act_key) as permissions
        FROM sys_user u
            LEFT JOIN sys_role r ON JSON_CONTAINS(u.role_id, CAST(r.id AS CHAR))
            LEFT JOIN sys_permission p ON JSON_CONTAINS(r.permissions, CAST(p.id AS CHAR))
            LEFT JOIN sys_module m ON p.module_id = m.id
            LEFT JOIN sys_action a ON p.action_id = a.id
        WHERE u.id = #{id};
    </select>

    <select id="searchUserRoles" resultType="java.lang.String">
        SELECT r.role_key
        FROM sys_user u
                 LEFT JOIN sys_role r ON JSON_CONTAINS(u.role_id, CAST(r.id AS CHAR))
        WHERE u.id = #{id};
    </select>

    <select id="searchUserCodeByArticleId" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT u.sys_user_code
        FROM sys_user u, xy_article a
        WHERE a.id = #{articleId} AND u.id = a.author_id AND a.deleted = '0';
    </select>
</mapper>
